@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,700;1,700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Gluten:wght@100&family=Patrick+Hand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300;400&display=swap');

/* ========== Variables // Theme // Base Style ======== Start === */
:root {
  /*================ D A R K    M O D E ====================*/
  /*   hue        saturation,    lightness */
  --drk-H:215;   --drk-S:20%;   --drk-L:15%;      /* c-1*/
  --drk-H2:215;  --drk-S2:25%;  --drk-L2:30%;     /* c-2*/
  --drk-H3:185;  --drk-S3:100%; --drk-L3:35%;     /* c-3*/
  --drk-H4:180;  --drk-S4:100%; --drk-L4:50%;     /* c-3*/
  --drk-H5:60;   --drk-S5:70%;  --drk-L5:60%;     /* c-5*/
  --drk-H6:190;  --drk-S6:70%;  --drk-L6:90%;     /* c-6*/
  --drk-H7:60;   --drk-S7:70%;  --drk-L7:60%;     /* c-7*/
  --drk-H8:220;  --drk-S8:20%;  --drk-L8:25%;     /* c-8*/
  --drk-H9:345;  --drk-S9:60%;  --drk-L9:55%;     /* c-9*/
  --drk-H10:0;   --drk-S10:0%;  --drk-L10:0%;     /* c-10*/
  --drk-H11:280;  --drk-S11:5%; --drk-L11:25%;    /* c-11*/
  --drk-H12:190;  --drk-S12:70%; --drk-L12:90%;   /* c-12*/
  
  --c-1: hsl(216, 20%, 15%);   /* white - black*/
  --c-2: hsl(215, 25%, 30%);   /* light-green - gray*/
  --c-3: hsl(185, 100%, 35%);  /* green - aqua*/
  --c-4: hsl(185, 100%, 40%);  /* orange - aqua*/
  --c-5: hsl(60, 70%, 60%);    /* red - yellow*/
  --c-6: hsl(190, 70%, 90%);   /* black - white*/
  --c-7: hsl(60, 70%, 60%);    /* black - yellow*/
  --c-8: hsl(220, 20%, 25%);   /* black - black*/
  --c-9: hsl(345, 60%, 55%);   /* red - red*/
  --c-10: hsl(0, 0%, 0%);      /* black - black*/
  --c-11: hsl(280, 20%, 25%);  /* rock - rock*/
  --c-12: hsl(190, 70%, 90%);  /* white - white*/

  --color-oth: hsl(280, 20%, 25%);  /* rock - rock*/

}
/* =========================== Variables CSS ============ End === */
body{
  font-size: 16px;
  /*================ L I G H T   M O D E ====================*/
  /* hue    saturation,   lightness */
  --H: 100;  --S:100%;   --L:95%;     /* c-1*/
  --H2:85;   --S2:100%;  --L2:90%;    /* c-2*/
  --H3:160;  --S3:35%;   --L3:50%;    /* c-3*/
  --H4:30;   --S4:100%;  --L4:70%;    /* c-4*/
  --H5:325;  --S5:40%;   --L5:45%;    /* c-5*/
  --H6:220;  --S6:15%;   --L6:20%;    /* c-6*/
  --H7:250;  --S7:10%;   --L7:20%;    /* c-7*/
  --H8:220;  --S8:15%;   --L8:20%;    /* c-8*/
  --H9:325;  --S9:40%;   --L9:45%;    /* c-9*/
  --H10:0;   --S10:0%;   --L10:0%;    /* c-10*/
  --H11:40;  --S11:25%;  --L11:70%;   /* c-11*/
  --H12:190;  --S12:70%; --L12:90%;   /* c-12*/

  --c-1: hsl(100 ,100% ,95%); /* white - black*/
  --c-2: hsl(85 ,100% ,90%);  /* light-green - gray*/
  --c-3: hsl(160, 35%, 50%);  /* green - aqua*/
  --c-4: hsl(30, 100%, 70%);  /* orange - aqua*/
  --c-5: hsl(325, 40%, 45%);  /* red - yellow*/
  --c-6: hsl(220, 15%, 20%);  /* black - white*/
  --c-7: hsl(250, 10%, 20%);  /* black - yellow*/
  --c-8: hsl(220, 15%, 20%);  /* black - black*/
  --c-9: hsl(325, 40%, 45%);  /* red - red*/
  --c-10: hsl(0, 0%, 0%);     /* black - black*/
  --c-11: hsl(40, 25%, 70%);  /* rock - rock*/
  --c-12: hsl(190, 70%, 90%); /* white - white*/

  /* --------- Font & Size */
  font-family: 'Roboto Condensed',"Roboto", sans-serif , "Open Sans";
  --body-font-1: 'Signika Negative', 'Roboto Condensed',"Roboto", , sans-serif, "Open Sans";
  --body-font-2: 'Patrick Hand', cursive;
  --body-font-3: 'Gluten', cursive;
  --biggest-size: 5rem;
  --bigger-size: 3.5rem;
  --big-size: 2.5rem;
  --me-size: 1.5rem;
  --s1-size: 1.2rem;
  --s2-size: 0.850rem;
}
@media (prefers-color-scheme: dark) {
    .auto-theme{
      --H: var(--drk-H);      --S: var(--drk-S);      --L: var(--drk-L);
      --H2: var(--drk-H2);    --S2: var(--drk-S2);    --L2: var(--drk-L2);
      --H3: var(--drk-H3);    --S3: var(--drk-S3);    --L3: var(--drk-L3);
      --H4: var(--drk-H4);    --S4: var(--drk-S4);    --L4: var(--drk-L4);
      --H5: var(--drk-H5);    --S5: var(--drk-S5);    --L5: var(--drk-L5);
      --H6: var(--drk-H6);    --S6: var(--drk-S6);    --L6: var(--drk-L6);
      --H7: var(--drk-H7);    --S7: var(--drk-S7);    --L7: var(--drk-L7);
      --H8: var(--drk-H8);    --S8: var(--drk-S8);    --L8: var(--drk-L8);
      --H9: var(--drk-H9);    --S9: var(--drk-S9);    --L9: var(--drk-L9);
      --H10: var(--drk-H10);  --S10: var(--drk-S10);  --L10: var(--drk-L10);
      --H11: var(--drk-H11);  --S11: var(--drk-S11);  --L11: var(--drk-L11);
      --H12: var(--drk-H12);  --S12: var(--drk-S12);  --L12: var(--drk-L12);
  }
}
body.dark-theme{
  --H: var(--drk-H);      --S: var(--drk-S);      --L: var(--drk-L);
  --H2: var(--drk-H2);    --S2: var(--drk-S2);    --L2: var(--drk-L2);
  --H3: var(--drk-H3);    --S3: var(--drk-S3);    --L3: var(--drk-L3);
  --H4: var(--drk-H4);    --S4: var(--drk-S4);    --L4: var(--drk-L4);
  --H5: var(--drk-H5);    --S5: var(--drk-S5);    --L5: var(--drk-L5);
  --H6: var(--drk-H6);    --S6: var(--drk-S6);    --L6: var(--drk-L6);
  --H7: var(--drk-H7);    --S7: var(--drk-S7);    --L7: var(--drk-L7);
  --H8: var(--drk-H8);    --S8: var(--drk-S8);    --L8: var(--drk-L8);
  --H9: var(--drk-H9);    --S9: var(--drk-S9);    --L9: var(--drk-L9);
  --H10: var(--drk-H10);  --S10: var(--drk-S10);  --L10: var(--drk-L10);
  --H11: var(--drk-H11);  --S11: var(--drk-S11);  --L11: var(--drk-L11);
  --H12: var(--drk-H12);  --S12: var(--drk-S12);  --L12: var(--drk-L12);
}

/* ================== Responsive (Screen)  ============ Start === */
/* Start----------------small Screen ----------- */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* Start--------------Medium Screen ----------- */
@media screen and (min-width: 992px) {
  :root {
    font-size: 14px;
    /* --------- Font & Size */
    --body-font: "Roboto", "Open Sans", sans-serif;
    --biggest-size: 7rem;
    --bigger-size: 4.5rem;
    --big-size: 2rem;
    --me-size: 1rem;
    --s1-size: 0.900rem;
    --s2-size: 0.813rem;
  }
  .container {
    width: 970px;
  }
}
/* Start--------------Large Screen------------------------------- */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End----------------Large Screen------------------------------- */
/* =================================  Screen ============ End === */

/* ================================== Base ============ Start === */
html {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}
html.transition,
html.transition *,
html.transition *::before,
html.transition *::before{
  transition: all .5s ease-in !important;
  transition-delay: 0 !important;
}
*::-webkit-scrollbar {
  width: 1vh;
  height: 100%;
}
*::-webkit-scrollbar-track {
  background:  hsl(var(--H), var(--S), var(--L));
}
*::-webkit-scrollbar-thumb {
  border-radius: 1vh;
  background-color: hsl(var(--H3), var(--S3), var(--L3));
}
*::selection {
  background: #505963;
  color: #e0edf5;
}
h1,
h2,
h3,
h4,
h5,
p,
a {
  font-family: var(--body-font);
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  /* outline: 1px solid #dddd; */
}
*::after,
*::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
/* ////////////////////////////////////////////////////////// */

/* /////////// */
/* /////////// */
/* /////////// */
/* /////////// */
/* /////////// */


body {
  background-color: hsl(var(--H), var(--S), var(--L));
  /* cursor: none; */
}

.container {
  margin: 0 auto;
}
/* -------------------------------------------------------------- */
section{
  position: relative;
  width: 100%;
  min-height: 100vh;
  /* padding-bottom: 3rem; */
  overflow: hidden;
  /* scroll-snap-align: center; */
}

/* /////////// */
/* /////////// */
/* /////////// */
/* /////////// */
/* /////////// */

/* -------------------------------------- */
.cursor{
  position: absolute;
  transform: translate(-50% , -50%);
  width: .5rem;
  height: .5rem;
  box-shadow: 0 0 20px 5px hsl(var(--H4), var(--S4), var(--L4)),
              0 0 40px 10px #fff;
  background-color: hsl(var(--H5), var(--S5), var(--L5));
  /* border: 15px solid hsla(var(--H5), var(--S5), var(--L5) ,  .8); */
  border-radius: 50%;
  pointer-events: none;
  /* mix-blend-mode: difference; */
  z-index: 2000000;
  transition: .2s;
}

/* /////////// */
/* /////////// */
/* /////////// */
/* /////////// */
/* /////////// */

.rw-cnt-cnt{
  display: flex;
  justify-content: center;
  align-items: center;
}
.rw-sp-cnt{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.rw-cnt{
  display: flex;
  justify-content: center;
}
.cl-cnt{
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* /////////// */
/* /////////// */
/* /////////// */
/* /////////// */
/* /////////// */

.fade-in{
  transform: translateY(50%);
  opacity: 0;
  transition: all 1.5s ease-in ,
              transform 2s cubic-bezier(.4, .4, .1, 1) ;
}
.fade-in.active{
  transform: translateY(0);
  opacity: 1;
}

/* /////////// */
/* /////////// */
/* /////////// */
/* /////////// */
/* /////////// */




/* /////////// */
/* /////////// */
/* /////////// */
/* /////////// */
/* /////////// */

label.theme-buttons {
  --sz: 14px;
  position: relative;
  width: calc(var(--sz) * 6.2);
  height: calc(var(--sz) * 2.8);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: calc(var(--sz) * 2);
  padding: calc(var(--sz) / 3);

  background: hsla(var(--H6) ,var(--S6) ,var(--L6) , .2);
  box-shadow: calc(var(--sz)/6) 
  calc(var(--sz)/6) 
  calc(var(--sz)/2) 
  0px
  rgba(0, 0, 0 , 0.6),
  inset calc(var(--sz)/2) 
  calc(var(--sz)/8) 
  calc(var(--sz)/8)
  0px 
  rgba(255, 255, 255, 0.2);
  outline: calc(var(--sz) / 6) solid hsla(0, 0%, 100%, 0.2) ;
  transition: 1s ease-in-out;
  cursor: pointer;
}
label.theme-buttons input[type="checkbox"]{
  position: absolute;
  width: 0;
  height: 0;
  display: none;
  visibility: hidden;
  appearance: none;
}
label.theme-buttons i {
  position: relative;
  width: calc(var(--sz) * 2.2);
  height: calc(var(--sz) * 2.2);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: calc(var(--sz) * 1.4);
  color: hsla(var(--H10), var(--S10), var(--L10) , .7);
  box-shadow: inset 0 0 calc(var(--sz)/4) calc(var(--sz)/4) hsla(0, 0%, 100%, 0.4) ;
  /* outline: 1px solid red; */
  border-radius: 50%;
  z-index: 10;
}
label.theme-buttons span {
  content: '';
  position: absolute;
  width: calc(var(--sz) * 2.2);
  height: calc(var(--sz) * 2.2);
  border-radius: 50%;
  background: hsla(0, 0%, 100% , .6);
  box-shadow: 0 0 calc(var(--sz) / 2) 0 hsla(0, 0%, 0%, 0.8);
  transition: .2s ease-in-out;
  z-index: 9;
}
label.theme-buttons.drk span{
  transform: translateX(calc(var(--sz) * 3.35));
}
label.theme-buttons i.active{
  color: hsla(var(--H8), var(--S8), var(--L8) , .8);
  transform: rotate(400deg);
  transition: 1s ease-in-out;
}


/* /////////// */
/* /////////// */
/* /////////// */
/* /////////// */
/* /////////// */

/* -------------------------------------- */

/* /////////// */
/* /////////// */
/* /////////// */
/* /////////// */
/* /////////// */

/* ----------------- menu --------------------- */
aside{
  position: fixed;
  width: 100%;
  height: 0;
  background-color: hsl(var(--H), var(--S9), var(--L11));
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  visibility: hidden;
  z-index: 999;
  /* transition: height 1s ease-in-out; */
}
aside.open{
  height: 100vh;
  bottom: 0;
  visibility: visible;
  transition: .8s ease-in-out;
}
aside label.theme-buttons{
  position: relative;
  top: 3%;
  z-index: 999;
}
aside .setting{
  --sz: 40px;
  position: relative;
  width: 60%;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  overflow: hidden;
  /* outline: 2px solid red; */
  
  background-color: hsla(var(--H10), var(--S10), var(--L10) , .2);
  border-radius: 52% 48% 70% 30% / 88% 92% 8% 12% ;
  border: 15px solid hsla(var(--H10), var(--S10), var(--L10) , .2);
  box-shadow: inset 0 0 50px 15px rgba(0, 0, 0 , 0.6);
}
aside .setting .background-art{
  --sz: 5px;
  --sz-2: 4px;
  z-index: -1;
}
.setting .background-art.active .circle:nth-child(2){  
  --sz-2: 2px;
  top: 20%; 
  right: 40%;
}
.setting .background-art .circle:nth-child(3){
  top: 20%;
  left: 10%;
  background: hsl(var(--H10), var(--S3), var(--L3));
}
.setting .background-art.active .circle:nth-child(3){
  top: 30%;
  left: 20%;
  background: hsl(var(--H3), var(--S3), var(--L3));
}
aside .setting div.image{
  position: absolute;
  bottom: 1%;
  right: 0;
  width: 50%;
  height: 50%;
  background-image: url('../image/grass.png');
  background-position: bottom;
  background-size: 100% 50%;
  background-repeat: no-repeat;
  pointer-events: none;
  opacity: .4;
  z-index: -1;
}
aside .setting .social-icons{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  /* outline: 2px solid red; */
}
aside .setting .social-icons a{
  --sw:.8px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  /* outline: 2px solid red; */
  background: transparent;
  color: hsla(var(--H5), var(--S5), var(--L5) ,  .5);
  transition: .5s ease-in;
}
a.round::after,
a.round::before {
  background: transparent;
}

aside .setting .bxContact{
  position: relative;
  /* outline: 1px solid red; */
  
}
aside .menu-list{
  position: relative;
  height: 70vh;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  /* background: hsla(var(--H10), var(--S10), var(--L10) , .2);
  border-radius: 63% 37% 55% 45% / 48% 62% 38% 52% ;
  border: 15px solid hsla(var(--H10), var(--S10), var(--L10) , .2);
  box-shadow: inset 0 0 50px rgba(0, 0, 0 , 0.6); */
  /* outline: 2px solid red; */
}
aside .menu-list h1 {
  position: absolute;
  top: 0;
  /* outline: 2px solid red; */
  font-size: 30vw;
  line-height: 0;
  color: hsla(var(--H6), var(--S6), var(--L6) , .07);
  font-family: var(--body-font-3);
}

aside .menu-list ul {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: .5vw;
  height: 40vh;
  width: 50%;
  height: fit-content;
  padding: 4px;
  opacity: 0;
  /* outline: 2px solid red; */
}
aside.open ul {
  transition: opacity .5s linear 1s;
  opacity: 1;
}

aside ul li{
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 1px solid tomato; */
  height: 100%;
  width: 100%;
  transition: .5s ease-in;
}
aside ul li:hover{

}
aside ul li.active{
}
aside ul li a{
  position: relative;
  /* border: 1px solid lawngreen; */
  width: max-content;
  padding: .5rem 1rem;
  font-size: calc(var(--s1-size) * 3);
  font-family: var(--body-font-3);
  font-weight: bolder;
  letter-spacing: .5rem;
  text-transform: capitalize;
  text-shadow: 1px 1px 4px hsl(var(--H4), var(--S4), var(--L4)),
              -1px -1px 4px hsl(var(--H4), var(--S4), var(--L4));
  color: hsl(var(--H5), var(--S5), var(--L5));
  transition: .5s ease-in;
}
aside ul li:hover a{
  color: #fff;
}
aside ul li.active a{
  color: hsl(var(--H6), var(--S6), var(--L6));
}


/* /////////// */
/* /////////// */
/* /////////// */
/* /////////// */
/* /////////// */

/* -------------------------------------- */
.box{
  position: relative;
  padding: 3% 0 ;
  opacity: 1;
  overflow: hidden;
  visibility: visible;
  transition:  1s ease-in 1s ;
  z-index: 100;
  /* outline: 1px solid rgb(0, 255, 0); */
}

/* -------------------------------------- */
.box .bord{
  display: flex;
  flex-direction: column;
  width: fit-content;
  height: 8rem;
  overflow: hidden;
}
.box h1{
  position: relative;
  width: max-content;
  height: 100%;
  margin: 0;
  letter-spacing: calc(var(--biggest-size)/2.5);
  font-size: calc(var(--biggest-size)/1.3);
  line-height: 5rem;
  font-family: var(--body-font-2);
  font-weight: 600;
  color: hsla(var(--H6) ,var(--S6) ,var(--L6) , .9);
  text-transform: uppercase;
  transform: translateY(120%);
  opacity: .8;
  transition: transform 1s ease;
}
/* -------------------------------------- */

.box h1::before{
  content: '';
  position: absolute;
  bottom: -20%;
  left: 20rem;
  transform: translateY(-50%);
  height: 3px;
  width: calc(100% - 20rem);
  background-color: hsl(var(--H5) ,var(--S5) ,var(--L5));
  z-index: 0;
  transition: 1s ease-in .5s;
}
body[dir="rtl"] div.box h3::before{
  left: 0;
}

/* /////////// */
/* /////////// */
/* /////////// */
/* /////////// */
/* /////////// */

/* //////////////////////////////  other Classes  ////////////////////////////////// */
/* -------------------------------------- */
.box .bord h3{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 19rem;
  border-radius: 1rem;
  background: hsla(var(--H5) ,var(--S5) ,var(--L5) , .2) ;
  letter-spacing: calc(var(--me-size)/6);
  font-size: calc(var(--bigger-size)/2);
  font-family: var(--body-font-3);
  color: hsla(var(--H6) ,var(--S6) ,var(--L6) , .7);
  text-transform: capitalize;
  transform: translateY(120%);
  transition: transform 1s ease 1s;
}
/* -------------------------------------- */
.bord.active h1,
.bord.active h3{
  transform: translateY(0);
}


/* /////////// */
/* /////////// */
/* /////////// */
/* /////////// */
/* /////////// */

.to-top{
  position: fixed;
  bottom: 5vh;
  right: 3%;
  width: 5ch;
  height: 5ch;
  border-radius: 30% 70% 69% 31% / 30% 38% 62% 70% ;
  display: flex;
  align-items: center;
  justify-content: center;
  background: hsla(var(--H3) ,var(--S3) ,var(--L3) , .5);
  color: hsla(var(--H6) ,var(--S6) ,var(--L6) , .6);
  z-index: 10000;
}

/* /////////// */
/* /////////// */
/* /////////// */
/* /////////// */
/* /////////// */

/* ------------------------------ side-title */
ul.sections-icons{
  --sw: 10px;
  position: fixed;
  right: 3%;
  top: 50%;
  transform: translateY(-50%);
  width: calc(var(--sw) * 4.5);
  display: flex;
  flex-direction: column;
  gap: 3rem;
  opacity: 0;
  visibility: hidden ;
  padding: 5rem 0;
  z-index: 100;
  transition: .5s ease-in-out;
}
body[dir="rtl"] ul.sections-icons{
  right: 5%;
}
ul.sections-icons li{
  position: relative;
  width: calc(var(--sw) * 4);
  height: calc(var(--sw) * 4);
  /* outline: 2px solid tomato; */
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.08);
  filter: drop-shadow( 0 0 5px  hsla(0, 0%, 100%, 0.5));
  backdrop-filter: blur(10px);
  border-radius: 38% 62% 53% 35% / 41% 54% 45% 59%;
  transition: .5s ease-in-out;
}
ul.sections-icons li.active{
  transition: .5s ease-in-out;
  /* outline: 2px solid tomato; */
}
/* -------------------------------------- */
ul.sections-icons .indicator{
  position: absolute;
  width:  calc(var(--sw) * 2);
  height: calc(var(--sw) * 2);
  left: 25%;
  box-shadow: 0 0 30px 10px hsl(var(--H4), var(--S4), var(--L4)); 
  background: hsl(var(--H4), var(--S4), var(--L4));
  border-radius: 50%;
  z-index: -100;
  transition:  1s ease-in-out;
}
ul.sections-icons li:nth-child(1).active ~ .indicator{
  transform: translateY(calc(var(--sw) * 0));
}
ul.sections-icons li:nth-child(2).active ~ .indicator{
  transform: translateY(calc(var(--sw) * 9));
}
ul.sections-icons li:nth-child(3).active ~ .indicator{
  transform: translateY(calc(var(--sw) * 17.5));
}
ul.sections-icons li:nth-child(4).active ~ .indicator{
  transform: translateY(calc(var(--sw) * 25.5));
}
ul.sections-icons li:nth-child(5).active ~ .indicator{
  transform: translateY(calc(var(--sw) * 34));
}
/* --------------------- */
ul.sections-icons li .icon-title{
  position: relative;
  width:  100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* outline: 2px solid tomato; */
}
ul.sections-icons li .icon-title i{
  color: hsl(var(--H6), var(--S6), var(--L6));
  cursor: pointer;
  transition: .2s linear;
  font-size: calc(var(--sw) * 2) ;
  /* outline: 2px solid tomato; */
}
ul.sections-icons li.active .icon-title i{
  color: hsl(var(--H9), var(--S9), var(--L9));
  font-size: calc(var(--sw) * 4) ;
}
/* -------------------------------------- */
ul.sections-icons li .icon-title span{
  position: absolute;
  top: 90%;
  font-family: var(--body-font-1);
  font-size: calc(var(--big-size) / 2) ;
  letter-spacing: calc(var(--me-size) / 5) ;
  color: hsl(var(--H5), var(--S5), var(--L5));
  white-space: nowrap;
  display: flex;
  justify-content: center;
  padding-inline-start: .5rem;
  opacity: 0;
  visibility: hidden;
  transform: translateY(70%);
  cursor: pointer;
  transition: .5s ease-in;
}
ul.sections-icons li:hover .icon-title span,
ul.sections-icons li.active .icon-title span{
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

/* /////////// */
/* /////////// */
/* /////////// */
/* /////////// */
/* /////////// */

/* ------------------------------ round-shape */
.round{
  position: relative;
  --sw:10px;
}
.round::after,
.round::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(var(--sw) *55);
  height: calc(var(--sw) *55);
  opacity: 0.4;
  background-color: rgba(255, 255, 255, 0.5);
  border: calc(var(--sw) / 5)  solid hsl(var(--H6) ,var(--S6) ,var(--L6));
  border-radius: 38% 62% 53% 37% / 51% 44% 40% 59%;
  animation: round 10s linear infinite;
  box-shadow: 0 0 var(--sw) 0 rgba(0, 0, 0, 0.5);
  /* z-index: -1; */
}

.round::after {
  opacity: 0.2;
  animation: round 7s linear infinite reverse;
}

/* /////////// */
/* /////////// */
/* /////////// */
/* /////////// */
/* /////////// */

.one-side-bannar{
  position: absolute;
  bottom: 50%;
  right: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  /* gap: 13vw; */
  width: 100%;
  height: fit-content;
  padding: 1rem 0;
  opacity: .1;
  transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  /* background-clip: content-box;
  border-top: 2px solid transparent;
  border-image-source: linear-gradient(180deg , hsl(var(--H3), var(--S3), var(--L3)) , hsl(var(--H5), var(--S5), var(--L5)) ,hsl(var(--H3), var(--S3), var(--L3)));
  border-image-slice: 1;
  animation: lineargr 8s ease-in-out infinite reverse; */
}
.one-side-bannar span{
  font-size: 20rem;
  font-weight: bold;
  color: hsl(var(--H), var(--S), var(--L));
  /* text-transform: capitalize; */
  font-family: var(--body-font-2);
  letter-spacing: .5rem;
  filter: drop-shadow(0 0 2px hsl(var(--H6), var(--S6), var(--L6)));
  text-shadow: 5px 5px 1px #111,
                -5px -5px 1px #fff;
  /* animation: loop 30s linear infinite ; */
}

/* /////////// */
/* /////////// */
/* /////////// */
/* /////////// */
/* /////////// */

.background-art {
  --sz: 10px;
  --sz-2: 10px;
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
  /* opacity: .8; */
}
.background-art .circle{
  position: absolute;
  background-color: transparent;
  border-radius: 50%;
  box-shadow: var(--sz) var(--sz) calc(var(--sz)*2) 0px rgba(0, 0, 0 , 0.3),
  inset calc(var(--sz)*10) calc(var(--sz)*10) calc(var(--sz)*10) 0px rgba(255, 255, 255, 0.7);  
  animation: move1 30s ease infinite ;
}
.background-art .circle::before{
  content: '';
  position: absolute;
  left: -50%;
  top: 0;
  width: 150%;
  height: 150%;
  border-radius: 50%;
  background-color: rgba(148, 148, 148, 0.1);
  filter: drop-shadow( 0 0 10px hsl(var(--H), var(--S), var(--L)));
  backdrop-filter: blur(10px);
  animation: move1 5s ease infinite reverse;
}
.background-art .circle:nth-child(1){
  width: calc(var(--sz) *40);
  height: calc(var(--sz) *40);
  top: 20%;
  right: -5%;
  background: hsl(var(--H4), var(--S4), var(--L4) );
}
.background-art .circle:nth-child(2){
  width: calc(var(--sz) *15);
  height: calc(var(--sz) *15);
  bottom: 80%;
  right: 30%;
  background: hsl(var(--H5), var(--S5), var(--L5));
}
.background-art .circle:nth-child(3){
  width: calc(var(--sz) *30);
  height: calc(var(--sz) *30);  
  bottom: 60%;
  left: 5%;
  background: hsl(var(--H3), var(--S3), var(--L3));
}
.background-art .circle:nth-child(4){
  width: calc(var(--sz) *30);
  height: calc(var(--sz) *30);
  bottom: 10%;
  left: 10%;
  background: hsl(var(--H9), var(--S9), var(--L9));  
}
.background-art.active .circle{
  --sz: 0px;
}
.background-art.active .circle:nth-child(1){
  box-shadow: 0 0 calc(var(--sz-2)*20) calc(var(--sz-2)*7) hsl(var(--H4), var(--S4), var(--L4));
  top: 70%;
  right: 13%;}
.background-art.active .circle:nth-child(2){
  box-shadow: 0 0 calc(var(--sz-2)*20) calc(var(--sz-2)*7) hsl(var(--H5), var(--S5), var(--L5));
  bottom: 90%;
  right: 10%;}
.background-art.active .circle:nth-child(3){
  box-shadow: 0 0 calc(var(--sz-2)*20) calc(var(--sz-2)*7) hsl(var(--H3), var(--S3), var(--L3));
  top: 10%;
  left: 10%;
}
.background-art.active .circle:nth-child(4){
  box-shadow: 0 0 calc(var(--sz-2)*20) calc(var(--sz-2)*7) hsl(var(--H9), var(--S9), var(--L9));
  bottom: 25%;
  left: 5%;
}

/* /////////// */
/* /////////// */
/* /////////// */
/* /////////// */
/* /////////// */

.wave{
  text-transform: none;
  background-color: transparent;
  position: absolute;
  width: 100%;
  bottom: -10%;
  user-select: none;
  pointer-events: none;
}
.wave .line{
  color: transparent !important;
  text-align: center;
  font-size: 3rem;
  text-decoration-color: hsl(var(--H5), var(--S5), var(--L5)) ;  
  text-decoration-line: underline;
  text-decoration-style: wavy;
}

/* /////////// */
/* /////////// */
/* /////////// */
/* /////////// */
/* /////////// */
.box-menu{
  --sz: 11px;
  position: fixed;
  top: 3%;
  right: 5%;
  z-index: 1000;
  display: flex;
  align-items: center;
}

.box-menu .titlez-icon{
  position: relative;
  height: fit-content;
  margin-right: calc(var(--sz) *1.8);
  /* outline: 1px solid lime; */
}
.box-menu .titlez-icon h5{
  color: hsla(var(--H6), var(--S6), var(--L6) , .7);
  text-transform: uppercase;
  letter-spacing: calc(var(--sz) / 4);
  font-size: calc(var(--sz) * 1.2);
  font-family: var(--body-font-3);
}
.box-menu .titlez-icon h5.close{
  display: none;
}
.box-menu .menu-icon {
  position: relative;
  width: calc( var(--sz)*2.5);
  height: calc( var(--sz)*2.5);
  /* outline: 1px solid lime; */
}
.menu-icon.round{
  --sw: calc( var(--sz)/12);
}
.box-menu .menu-icon.round::after,
.box-menu .menu-icon.round::before{
  background: transparent;
}
.box-menu .menu-icon span{
  position: absolute;
  display: block;
  width: 100%;
  height: calc( var(--sz)/4);
  background-color: hsla(var(--H6), var(--S6), var(--L6) , .7);
  transition: .2s ease-in-out;
}
.box-menu .menu-icon span:nth-child(1){ top: 20%;}
.box-menu .menu-icon span:nth-child(2){ top: 50%; transform: translateY(-50%);}
.box-menu .menu-icon span:nth-child(3){ bottom: 20%;}
.box-menu .menu-icon:hover span:first-child{ top: 0%;}
.box-menu .menu-icon:hover span:last-child{ bottom: 0%;}

.box-menu.close:hover .menu-icon span,
.box-menu.close .menu-icon span{
  top: 50%;
  transform: translateY(-50%);
}
/* .menu-icon.close span:nth-child(3){
  bottom: 50%;
  transform: translateY(-50%);
} */
.box-menu.close .menu-icon span:nth-child(2){display: none;}

.box-menu.close .menu-icon span:nth-child(1){transform: rotate(45deg);}
.box-menu.close .menu-icon span:nth-child(3){transform: rotate(-45deg);}



/* /////////////////////////////////////////////// */

